<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fh5co-page">
  <header> 
     <nav class="fh5co-nav-style-1" role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
      <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fh5co-logo">
          <a href="#" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
          <%= link_to 'Steve E Gordon', home_path %></li>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-5 text-center fh5co-link-wrap">
          <ul data-offcanvass="yes">
            <li class="active"><%= link_to 'home', home_path %></li>
          <li><%= link_to 'blog', posts_path %></li>
          <li><%= link_to 'about me', about_me_path %></li>
          <li><%= link_to 'projects', projects_path %></li>
          </ul>
        </div> 
        <div class="col-lg-3 col-md-4 col-sm-4 text-right fh5co-link-wrap">
          <ul class="fh5co-special" data-offcanvass="yes">
            <li><a href="#">Login</a></li>
            <li><a href="#" class="call-to-action">Get Started</a></li>
          </ul>
        </div>
      </div>
    </nav>
      <h1>Steve E. Gordon</h1>
      <h2>Web Developer</h2>
      <nav class="navbar navbar-light">
        <ul>
          <li><%= link_to 'home', home_path %></li>
          <li><%= link_to 'blog', posts_path %></li>
          <li><%= link_to 'about me', about_me_path %></li>
          <li><%= link_to 'projects', projects_path %></li>
        </ul>
      </nav>
  </header>
<%= yield %>
<footer>
  
</footer>
</div>
</body>
</html>
